/* RGB */
$color1: rgba(247, 159, 121, 1);
$color2: rgba(247, 208, 138, 1);
$color3: rgba(227, 240, 155, 1);
$color4: rgba(135, 182, 167, 1);
$color5: rgba(91, 89, 65, 1);

$pageWidth: 600px;

*{
  padding: 0;
  margin: 0;
  outline: none;
}

#root{
  width: 70%;
  margin: 0 auto;
}

header{
  padding-top: 30px;
  padding-bottom: 60px;
  h1{
    text-align: center;
    a{
      color: $color5;

      text-decoration: none;
    }
  }
  .open-modal{
    display: table;
    color: $color5;
    padding-top: 15px;
    margin: 0 auto;
  }
}

footer{
  padding-top: 40px;
  padding-bottom: 15px;
  font-size: 13px;
  text-align: center;
  p{
    padding-bottom: 5px;
  }
}

.url-note{
  h2{
    color: $color2;
    padding-bottom: 5px;
  }
  p{
    color: $color3;
    padding-bottom: 30px;
  }
  .url-outer{
    position: relative;
    input{
      height: 50px;
      box-sizing: border-box;
      cursor: default;
      border: none;
      font-size: 22px;
      border-bottom: 1px solid $color3;
      width: 100%;
      line-height: 30px;
    }
    button{
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      text-transform: uppercase;
      font-size: 13px;
      align-items: center;
      background: transparent;
      cursor: pointer;
      color: $color1;
      border: none;
      transition: all .5s;
      &.copied{
        color: $color5;
        cursor: default;
      }

    }
  }
}

.about-modal{
  padding: 20px;
  font-size: 16px;

  h2{
    padding-bottom: 30px;
    text-align: center;
  }
  p{
    padding-bottom: 15px;
  }
  ul{
    list-style-position: inside;
    li{
      padding-bottom: 5px;
    }
    padding-bottom: 15px;
  }
}

.rdw-editor-toolbar{
  .rdw-dropdown-optionwrapper{
    opacity: 1;
    &:hover{
      box-shadow: none;
    }
  }
  border: none;
  border-bottom: 1px solid $color3;
  .rdw-option-wrapper,
  .rdw-dropdown-wrapper{
    border: none;
    transition: all .3s;
    cursor: pointer;
    &:hover{
      box-shadow: none;
      opacity: 1;
    }
  }
}

.rdw-option-active{
  background: $color3;
}

.add-note{
  .password-outer{
    position: relative;
    margin-top: 50px;
    span{
      position: absolute;
      cursor: pointer;
      right: 0;
      font-size: 13px;
      bottom: 0;
      top: 0;
      display: flex;
      align-items: center;
      line-height: 13px;
    }
    input.add-password{
      height: 30px;
      box-sizing: border-box;
      border: none;
      font-size: 16px;
      border-bottom: 1px solid $color3;
      width: 100%;
      line-height: 30px;
      &::placeholder{
        color: #9197a3;
        
      }
      &:focus{
        &::placeholder{
          color: #bdc1c9;
        }
      }
    }
  }
  
  button.add-button{
    width: 100%;
    height: 70px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    background: $color4;
    border: none;
    color: #fff;
  }
}

.show-note{
  img{
    max-width: 100%;
  }
}

.show-pass{
  button{
    width: 100%;
    height: 70px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    background: $color4;
    border: none;
    color: #fff;
    &.loading{
      background: $color2;
    }
  }
  input.add-password{
    height: 30px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    border-bottom: 1px solid $color3;
    width: 100%;
    line-height: 30px;
    &::placeholder{
      color: #9197a3;
      
    }
    &:focus{
      &::placeholder{
        color: #bdc1c9;
      }
    }
  }
}
